fastapi
uvicorn[standard]
groq
pydantic
python-multipart
python-dotenv
requests
firebase-admin
SpeechRecognition
pyttsx3
pytesseract
pillow
numpy
beautifulsoup4
lxml
pypdf
slowapi
google-genai
supabase
websockets
